body {
    background-color: black;

    color: white;
    font-family: sans-serif;

    margin: 0em;
    padding:0em;

    /* overflow: hidden; */
}

#start {
    display: flex;
    flex-direction: column;
}

#menu {
    display: flex;
    flex-direction: column;

    padding: 2em 4em;
    z-index: 1;

    background: rgba(0, 0, 0, 0.3);
}

#title {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

#subtitle {
    position: absolute;
    bottom: 2em;

    font-size: 1.5em;
}

#webgl-start-model {
    margin-top: -103px;
}

.product-container {
    margin-top: 2em;
}

.product-title {
    padding-left: 4em;

    font-size: 1.5em;
}

