body {
    background-color: black;

    color: white;
    font-family: sans-serif;

    margin: 0em;
    padding:0em;
}

#start {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

#title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em 4em;
    z-index: 1;
}

#title {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 1.5em;
}

#subtitle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 1;
}

.subtitle {
    font-size: 1.5em;
    color: rgba(255, 255, 255, 1);
    /* text-shadow: -1px -1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff, 1px 1px 0px #fff; */
}

#subtitle1 {
    margin-left: 10%;
    margin-right: 2%;
}

#subtitle2 {
    font-size: 3em;
    color: rgba(0, 0, 0, 1);
    /* text-shadow: -1px -1px 0px #ab12bf, 1px -1px 0px #ab12bf, -1px 1px 0px #ab12bf, 1px 1px 0px #ab12bf; */
}

#subtitle3 {
    margin-left: 2%;
    margin-right: 10%;
}

.product-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
    overflow: hidden;
    cursor: pointer;
}

.product-title-container {
    padding: 2em 4em;
    z-index: 1;
    /* background: rgba(0, 0, 0, 0.3); */
}

.product-title {
    font-size: 1.5em;
}

.webgl {
    position: absolute;
    top: 0;
}